{% extends '::base.html.twig' %}

{% block headline %}
    {% if is_expr_granted("hasAnyRole('ROLE_ADMIN','ROLE_STOCK_POSITION_CREATE')") %}
        <a href="{{ path('stock_position_create') }}" class="btn btn-primary pull-right">{% trans %}
            Create{% endtrans %}</a>
    {% endif %}

    {% trans %}Positions{% endtrans %}
{% endblock headline %}

{% block content %}
    {{ pedroteixeira_grid(grid) }}
{% endblock content %}
