{% extends '::base.html.twig' %}

{% block headline %}
    {% trans %}Distributing single volume for{% endtrans %}
{% endblock headline %}

{% block content %}
    <form action="{{ path('stock_purchase_order_receive_volumes') }}" method="post" {{ form_enctype(form) }}
          class="form-horizontal">
        {{ form_widget(form) }}

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-primary">{% trans %}Submit{% endtrans %}</button>
            </div>
        </div>
    </form>
{% endblock content %}