<script id="button-action" type="text/x-handlebars-template">
    <button type="button" class="btn btn-primary" name="button" id="update_dashboard">
        <div class="text-button">
            {% trans %} Update {% endtrans %}
        </div>
        <div class="la-ball-fall hide">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </button>
</script>
