<script id="table-total-all" type="text/x-handlebars-template">
    <div class="well-table text-center">
        <h4>{% trans %} Grand total {% endtrans %}</h4>
        <div class="total-today">
            {% verbatim %}
                {{ total.in_process }}
            {% endverbatim %}
        </div>
    </div>
</script>
