{% extends '::base.html.twig' %}

{% block headline %}
    {% trans %}Move items by position{% endtrans %}
{% endblock headline %}

{% block content %}
    <form action="{{ path('stock_item_move_from_position') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
        {{ form_widget(form) }}

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-primary">{% trans %}Submit{% endtrans %}</button>
            </div>
        </div>
    </form>
{% endblock content %}
